.list{
  display:flex;
  justify-content: space-between;
  list-style: none;
}

.list a {
  color: inherit; /* Inherit color from parent, or specify a color like black */
  text-decoration: none; /* Removes the underline */
}

.list a:hover {
  text-decoration: none; /* Ensures underline doesn't appear on hover */
}
